<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team</h1>

   <form action="/team" method="post">
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="coach">Coach:</label></h3>
     <h3><input type="text" name="coach" id="coach"></h3>
     <h3><label for="point_guard">Point Guard:</label></h3>
     <h3><input type="text" name="point_guard" id="point_guard"></h3>
     <h3><label for="shooting_guard">Shooting Guard:</label></h3>
     <h3><input type="text" name="shooting_guard" id="shooting_guard"></h3>
     <h3><label for="small_forward">Small Forward:</label></h3>
     <h3><input type="text" name="small_forward" id="small_forward"></h3>
     <h3><label for="power_forward">Power Forward:</label></h3>
     <h3><input type="text" name="power_forward" id="power_forward"></h3>
     <h3><label for="center">Center:</label></h3>
     <h3><input type="text" name="center" id="center"></h3>
     <input type="submit" value="submit">
   </form>
 </body>
</html>
