<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team</h1>

   <form action="/team" method="post">
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
     <h3><label for="name">Team Name:</label></h3>
     <h3><input type="text" name="team_name" id="name"></h3>
   </form>
 </body>
</html>
